body {
  font-family: helvetica;
  font-size: 14px;
}

#cy {
  width: 50%;
  height: 85%;
  position: absolute;
  left: 25%;
  bottom: 5%;
  margin: 0 auto;
  z-index: 998;
}
#string {
  width: 50%;
  height: 10%;
  margin: 0 auto;
  top: 0;
  z-index: 999;
  text-align: center;
}
.string-container {
  margin:0 auto;
}

h1 {
  opacity: 0.5;
  font-size: 1em;
}

.complete, .current, .normal {
  font-size: 20;
  text-decoration: underline;
  text-decoration-color: grey;
}

.complete {
  background-color: steelblue;
}

.current{
  background-color: red;
}
